{% extends "showcase/_base.html" %}

{% block title %}Toast Showcase{% endblock %}

{% block content %}
<div class="mb-8">
    <h2 class="text-3xl font-bold mb-2">Toast</h2>
    <p class="text-base-content/70">All available DaisyUI toast colors and modifiers.</p>
</div>

<section class="space-y-8 bg-base-100 p-6 rounded-box shadow-sm border border-base-300">

    <div>
      <h3 class="text-lg font-semibold mb-4">Toasts with alerts in them</h3>
      <div class="flex flex-wrap gap-4 relative h-56 w-full border border-bg-neutral">
        <c-ds.toast class="absolute" vertical="bottom" horizontal="end">
          <c-ds.alert color="info">Bottom Right</c-ds.alert>
        </c-ds.toast>
        <c-ds.toast class="absolute" vertical="bottom" horizontal="center">
          <c-ds.alert color="info">Bottom Center</c-ds.alert>
        </c-ds.toast>
        <c-ds.toast class="absolute" vertical="bottom" horizontal="start">
          <c-ds.alert color="info">Bottom Left</c-ds.alert>
        </c-ds.toast>


        <c-ds.toast class="absolute" vertical="middle" horizontal="end">
          <c-ds.alert color="info">Middle Right</c-ds.alert>
        </c-ds.toast>
        <c-ds.toast class="absolute" vertical="middle" horizontal="center">
          <c-ds.alert color="info">Middle Center</c-ds.alert>
        </c-ds.toast>
        <c-ds.toast class="absolute" vertical="middle" horizontal="start">
          <c-ds.alert color="info">Middle Left</c-ds.alert>
        </c-ds.toast>
        
        
        <c-ds.toast class="absolute" vertical="top" horizontal="end">
          <c-ds.alert color="info">Top Right</c-ds.alert>
        </c-ds.toast>
        <c-ds.toast class="absolute" vertical="top" horizontal="center">
          <c-ds.alert color="info">Top Center</c-ds.alert>
        </c-ds.toast>
        <c-ds.toast class="absolute" vertical="top" horizontal="start">
          <c-ds.alert color="info">Top Left</c-ds.alert>
        </c-ds.toast>
      </div>
    </div>


</section>
{% endblock %}
