<div class="p-4">
    <a href="{% url design_system.base_url %}" class="text-xl font-bold mb-6 px-2 text-primary">
      Design System
    </a>
    {# <c-ds.theme-switcher></c-ds.theme-switcher> #}
</div>

<ul class="menu menu-md w-full p-0">
    <h class="menu-title text-xl">Components</li>


    <li class="menu-title">
      Actions

      <ul>
        {% for comp_key, comp_meta in design_system.metadata.items %}
          {% if comp_meta.category == 'actions' %}
            <li>
              {% url comp_meta.url_path as component_url %}
              <a
                href="{{ component_url }}"
                class="{% if request.path == component_url %}menu-active{% endif %}"
                >
                {{ comp_meta.name }}
              </a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </li>


    <li class="menu-title">
      Data display

      <ul>
        {% for comp_key, comp_meta in design_system.metadata.items %}
          {% if comp_meta.category == 'data_display' %}
            <li>
              {% url comp_meta.url_path as component_url %}
              <a
                href="{{ component_url }}"
                class="{% if request.path == component_url %}menu-active{% endif %}"
                >
                {{ comp_meta.name }}
              </a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </li>


    <li class="menu-title">
      Navigation

      <ul>
        {% for comp_key, comp_meta in design_system.metadata.items %}
          {% if comp_meta.category == 'navigation' %}
            <li>
              {% url comp_meta.url_path as component_url %}
              <a
                href="{{ component_url }}"
                class="{% if request.path == component_url %}menu-active{% endif %}"
                >
                {{ comp_meta.name }}
              </a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </li>

      
    <li class="menu-title">
      Feedback

      <ul>
        {% for comp_key, comp_meta in design_system.metadata.items %}
          {% if comp_meta.category == 'feedback' %}
            <li>
              {% url comp_meta.url_path as component_url %}
              <a
                href="{{ component_url }}"
                class="{% if request.path == component_url %}menu-active{% endif %}"
                >
                {{ comp_meta.name }}
              </a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </li>

    <li class="menu-title">
      Data Input

      <ul>
        {% for comp_key, comp_meta in design_system.metadata.items %}
          {% if comp_meta.category == 'data_input' %}
            <li>
              {% url comp_meta.url_path as component_url %}
              <a
                href="{{ component_url }}"
                class="{% if request.path == component_url %}menu-active{% endif %}"
                >
                {{ comp_meta.name }}
              </a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </li>


    <li class="menu-title">
      Layout

      <ul>
        {% for comp_key, comp_meta in design_system.metadata.items %}
          {% if comp_meta.category == 'layout' %}
            <li>
              {% url comp_meta.url_path as component_url %}
              <a
                href="{{ component_url }}"
                class="{% if request.path == component_url %}menu-active{% endif %}"
                >
                {{ comp_meta.name }}
              </a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </li>


    <li class="menu-title">
      Mockup

      <ul>
        {% for comp_key, comp_meta in design_system.metadata.items %}
          {% if comp_meta.category == 'mockup' %}
            <li>
              {% url comp_meta.url_path as component_url %}
              <a
                href="{{ component_url }}"
                class="{% if request.path == component_url %}menu-active{% endif %}"
                >
                {{ comp_meta.name }}
              </a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </li>


</ul>
